body {
    /* background: linear-gradient(to top right, #08aeea 0%, #b721ff 100%); */
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.swiper-style {
    transition: all 200ms ease-out 0s;
    cursor: -webkit-grab;
    transform: translate3d(0px, 0px, 0px);
}

.responsive-bg-section {
    width: auto;
    min-width: 310px !important;
    max-width: 310px !important;
}

/*--------- mobile -------------*/

.collection__item .collection__link {
    width: auto;
}

.collection .image figure:nth-child(1) {
    grid-area: auto;
}

@media screen and (max-width: 1200px) {
    .swiper.active {
        justify-content: flex-start;
    }
}

/*------ desktop and above -------*/

@media screen and (max-width: 1200px) {
    .swiper.active {
        overflow-x: auto;
    }
}

@media screen and (min-width: 1201px) {
    .justify-center-lg {
        justify-content: center !important;
    }
    .swiper.active {
        justify-content: space-between;
    }
}