body {
    background: linear-gradient(to top right, #08aeea 0%, #b721ff 100%);
}

.ff--title {
    color: red;
}

#png-image {
    color: red;
}

#templete {
    color: red;
}

#background {
    color: red;
}

#flat-icon {
    color: red;
}

#recent-download {
    color: red;
}